body {
    background-color: #f1f1f1;
}
#mycanvas {
    border: 1px solid #000000;
    background-color: white;
}
footer {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    clear: both;
}
header {
    background-color: teal;
    color: white;
    padding: 5px 50px;
    margin-bottom: 10px;
}
main {
    text-align: center;
}
main p {
    font-size: 16pt;
    font-weight: bold;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
button {
    width: 100px;
    height: 100px;
    margin: 5px;
}
.float {
    float: left;
}
#left, #right {
    padding: 0 20px;
}
#center {
    position: relative;
}
#start_btn, #retry_btn, #nextLevel_btn {
    position: absolute;
    top: 320px;
    left: 250px;
}
